/* ==========================================================================
   Base
   ========================================================================== */


html {
/* 	-webkit-font-smoothing: antialiased; */
}

body {
	background: #fff;
	/* width: 1024px; */
}

h1 {
	font-family: "Museo300Regular", Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
}

h2 {
	font-family: "Museo300Regular", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
}

h3 {
	font-family: "Museo300Regular", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}

h4 {
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	font-size: 16px;
	font-weight: 700;
}

h6 {
	font-size: 13px;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 1px;
}

p {
	margin-bottom: 1em;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: transparent;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.no-padding {
	padding: 0;
}

.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}
.padding-lr5 {
	padding-left: 5px;
	padding-right: 5px;
}
.padding-tp5 {
	padding-top: 5px;
}

/* =============================================================================
   Header
   
  ========================================================================== */

.navbar .navbar-inner {
	background: none;
	border: none;
	padding: 0;
}

.navbar-inner > .container {
	position: relative;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.2s ease-out;  /* Opera 10.50–12.00 */
	transition: all 0.2s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.banner {
	z-index: 100;
	width: 100%;
	border: none;
	background: transparent;
	position: fixed;
}

.navbar .brand {
	display: block;
	margin: 0;
	top: 14px;
	font-size: 30px;
	color: #fff;
	padding: 0;
	position: absolute;
	-webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.1s ease-out;  /* Opera 10.50–12.00 */
	transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.navbar .brand-piccolo {
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 8px;
	display: block;
	margin: 0;
	margin-top: 0;
	padding: 0;
	position: absolute;
	color: #fff;
	font-size: 24px;
}

.navbar-default .navbar-toggle {
	margin-right: 0;
	border-color: #fff;
	margin-top: 8px;
	margin-bottom: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #363635;
}

.navbar-collapse {
	clear: both;
	border: none;
	padding: 0;
}

.navbar .nav li a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	opacity: 0.65;
	filter: alpha(opacity=65);
	display: block;
	background: rgba(255,255,255,0);
	color: #fff;
}

.navbar .nav li a:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: default;
	color: #fff;
	background-color: transparent;
}

.navbar-default .navbar-collapse {
 overflow-x: hidden;
}

.pannello-affix {
	width: 100%;
	-webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
	transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		-webkit-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.dark {
	background-color: rgba(0, 0, 0, 0.6);
}

.pannello-affix.affix {
	z-index: 999;
	opacity: 1;
	filter: alpha(opacity=100);
	width: 100%;
	background-color: #363635;
	-webkit-box-shadow: none; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: none; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

.pannello-affix.affix .navbar-inner {
	margin-top: 0;
}

.navbar .pannello-affix.affix .nav li a {
	color: #fff;
}

.navbar .pannello-affix.affix .brand-piccolo {
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar .pannello-affix.affix .brand {
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}


/*
 Tour Planner Front End styles
*/
.hero-wrapper {
    width: 100%; 
    height: 500px;
}
.hero-img {
	background-image: url(http://static.panoramio.com/photos/large/46365171.jpg);
	background-size: cover;
}
.hero-content {
	width: 40%;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 25%;
	left: 35%;
	color: #ddd;
	padding: 25px 15px;
}
.hero-content .title {
	font-size: 45px;
    color: white;
    font-weight: bold;
}
.hero-content hr {
	margin-top: 0px;
}
.hero-content .right-arrow {
	font-size: 12px;
	padding-left: 2px;
}
.blockDivider {
    margin: 20px 0 10px;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
.blockDivider:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    width: 100%;
    border-top: 1px solid #ccc;
}
.blockDivider-name {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.44);
    background: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px 8px 2px 12px;
    letter-spacing: .3em;
    color: rgba(0,0,0,0.6);
    position: relative;
}
.category {
    border: 1px solid #ccc;
    height: 250px;
    border-radius: 8px;
    margin: 20px 0px;
    background-color: #fff;
    cursor: pointer;
}
.category-label {
    text-align: center;
    font-size: 24px;
    background-color: rgba(170, 170, 170, 0.6);
    padding: 30px 10px;
    border-radius: 0 0 8px 8px;
    z-index: 10;
    position: relative;
    top: -38%;
    opacity: 1;
}
.category-label:hover, .category:hover .category-label {
    opacity: 1;
}

.hero-wrapper #map {
	width:100%;
	height:100%;
}

.search-places-form-wrapper {
	position: absolute;
    top: 60%;
    width: 800px;
    padding: 20px 20px 5px;
    border: 1px solid #666;
    border-radius: 4px;
    left: 18%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.61);
}

.slider-icon {
	font-size: 40px;
	position: relative;
	top: 5px;
}

.preference-row {
	font-size: 12px;
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

.preference-row li {
 display: inline;
 margin: 0 35px;
}

.preference-row li+li a {
	margin-left: 15px;
}

.preference-row a {
	color: rgba(255,255,255,.6);
	display: inline-block;
	letter-spacing: .05em;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}

.preference-row a:hover {
	color: #fff;
}

.arrow-mark {
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #fff; 
	width: 0; 
	height: 0; 
	position: absolute; 
	top: -10px; 
	left: 50%; 
	margin-left: -5px;
}

.preference-slider-label {
	color: #000; 
	padding: 15px 0; 
	font-size: 18px;
}

.preference-slider-wrapper {
	margin-top: 15px; 
	padding: 0 10px;
}

.preference-slider {
	width: 250px; 
	height: 100px; 
	background-color: #fff; 
	position: absolute; 
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);  
	top: 100px;
}

.preference-rating-slider {
	left: 167px; 
}

.preference-budget-slider {
	left: 298px; 
}

.preference-review-slider {
	left: 426px; 
}

.preference-proximity-slider {
	left: 568px; 
}

.preference-rating-slider .noUi-base,.preference-rating-slider .noUi-handle {
    background: #f0b201;
}

.slider-icon .glyphicon-star {
	color: #f0b201;
	padding-right: 2px;
}

.preference-budget-slider .noUi-base,.preference-budget-slider .noUi-handle {
    background: #ff0066;
}

.slider-icon .glyphicon-usd {
	color: #ff0066;
	padding-right: 2px;
}

.preference-review-slider .noUi-base,.preference-review-slider .noUi-handle {
    background: #33cc33;
}

.slider-icon .glyphicon-thumbs-up {
	color: #33cc33;
	padding-right: 2px;
}

.preference-proximity-slider .noUi-base,.preference-proximity-slider .noUi-handle {
    background: #555;
}

.slider-icon .glyphicon-road {
	color: #555;
	padding-right: 2px;
}

.row-no-margin {
	margin-left: 0;
	margin-right: 0;
}

.results-list-col-wrapper {
	background-color: #eee;
	width: 25%;
    position: fixed;
    left: 0;
    top: 45px;
    bottom: 0;
    overflow-y: scroll;
}

.results-map-col-wrapper {
	width: 50%;
    position: fixed;
    left: 25%;
    bottom: 0;
    top: 45px;
}

.divider {
	border-top: 1px solid #ccc; 
	margin-top: 5px;
	margin-bottom: 5px;
}

.preference-divider {
	width: 96%;
}

.results-divider {
	width: 100%;
}

.results-list-col {
	width: 100%; 
	height: 100%; 
	padding-top: 10px;
	color: #666;
}

.results-item-wrapper {
	height: 78px;
}

.results-item-wrapper .star-lock-wrapper {
	font-size: 18px;
}

.results-item-wrapper .colored-star,
.business-details-col .colored-star,
#ratings-icon-id .colored-star {
	color: goldenrod;
}

.results-item-wrapper .grey-star,
.business-details-col .grey-star,
#ratings-icon-id .grey-star {
	color: #bbb;
}

.results-item-wrapper .business-open {
	color: #5cb85c;
}

.results-item-wrapper .business-closed {
	color: #d9534f;
}

.results-item-wrapper .business-name {
	height: 50px;
	color: #444;
}

/* DO NOT MESS AROUND WITH THIS CLASS */
.results-item {
	cursor: pointer;
}

.preference-bizdetails-wrapper {
	width: 25%;
	right: 0;
	bottom: 0;
	height: 100%;
	position: fixed;
	top: 45px;
}

.preference-bizdetails-wrapper .preference-col {
	width: 100%; 
	height: auto; 
	padding-top: 5px; 
	padding-bottom: 5px;
	color: #666;
	border-bottom: 1px solid #bbb;
}

.preference-col .preference-item {
	height: 60px;
}

.preference-bizdetails-wrapper .business-details-col {
	padding-top: 10px;
	width: 25%;
	position: fixed;
  	overflow-y: scroll;
  	bottom: 0;
  	top: 330px;
}

.business-details-col .business-name {
	font-size: 16px;
	text-transform: uppercase;
}

.business-details-col .business-yelp-score {
	background-color: #ccc;
	float: right;
	padding: 10px 13px;
	border-radius: 50%;
	font-size: 20px;
}

.business-details-col .colored-usd {
	color: #0274cf;
}
#budget-icon-id .colored-usd {
	color: #ff0066;
}
.business-details-col .grey-usd,
#budget-icon-id .grey-usd,
#reviews-icon-id .grey-thumbs-up {
	color: #bbb;
}

.business-details-col .reviews-row {
	font-size: 16px;
}

.business-details-col .thumbs-up {
	color: #5cb85c;
}

.business-details-col .thumbs-down {
	color: #d9534f;
}

#reviews-icon-id .colored-thumbs-up {
	color: #33cc33;
}

#proximity-icon-id {
	color: #555;
	font-size: 30px;
	position: relative;
	top: -10px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	color: #555;
	padding: 50px 0;
	text-align: center;
}

footer hr {
	border-top: 1px solid rgba(0,0,0,0.15);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 767px) {

.pannello-affix.affix-top,
.pannello-affix.affix {
	z-index: 999;
	opacity: 1;
	width: 100%;
	background-color: #363635;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: fixed;
}

.pannello-affix.affix-top .navbar-inner,
.pannello-affix.affix .navbar-inner {
	margin-top: 0;
}

.navbar .brand-piccolo {
	display: block;
	opacity: 1;
}

.navbar .brand {
	display: none;
}

.navbar .nav {
	margin-top: 0;
}

.navbar-nav>li>a {
	padding: 10px 0 10px;
	text-align: center;
	color: #fff !important;
}

.navbar-collapse {
	box-shadow: none;
}

.hero-wrapper {
	height: 300px;
}

.hero-img {
	background-position-y: -18%; 
}
.hero-content {
	width: 60%;
	top: 10%;
}
.hero-content .title {
	font-size: 30px;
}
}
 @media (min-width: 768px) {

/* ==========================================================================
@ 768
========================================================================== */

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 13px;
}

p {
	margin-bottom: 1em;
}



/* ==========================================================================
   NAVBAR @ 768
   ========================================================================== */
.banner {
	position: absolute;
}

.navbar .navbar-inner {
	margin-top: 20px;
}

.navbar .nav {
	float: right;
	margin-right: 0;
}

.navbar .nav li {
	display: inline-block;
	float: none;
}

.navbar-nav>li>a {
	padding-top: 13px;
	padding-bottom: 7px;
}

.navbar .nav li:last-child a {
	padding-right: 0;
}

.lt-ie8 .navbar .nav li {
	display: block;
	float: left;
}

.roll {
	display: inline-block;
	overflow: hidden;
	z-index: 200;
	position: relative;
	vertical-align: top;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
}

.roll span {
	display: block;
	position: relative;
	padding: 0 2px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	pointer-events: none;
	-webkit-pointer-events: none;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	overflow: hidden;
}

a.roll:hover span {
	overflow: visible;
	-webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	-moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll span:after {
	content: attr(data-title);
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	padding: 0 2px;
	color: #424b51;
	background: #fff;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

.active a.roll:hover span {
	overflow: hidden;
	-webkit-transform: none;
	-moz-transform: none;
}
/* ==========================================================================
   Footer @ 768
   ========================================================================== */



.content-info {
	padding: 60px 0;
}

.content-info .slogan {
	width: 120px;
	height: auto;
	margin-left: -20px;
	margin-top: 20px;
}

.content-info .icone-social {
	float: left;
	margin: 0;
}

.content-info .copyright {
	float: right;
	text-align: left;
}
}
 @media (min-width: 992px) {

/* ==========================================================================
   @ 992
   ========================================================================== */

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

/* ==========================================================================
   Footer @ 992
   ========================================================================== */
.content-info .slogan {
	width: 160px;
	margin-top: -20px;
}
}
 @media (min-width: 1200px) {

section {
	padding: 90px 0;
}

/* ==========================================================================
   Footer @ 1200
   ========================================================================== */
.content-info .slogan {
	width: 170px;
	margin-left: 0;
}
}


/* immagini ad alta risoluzione */

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

.navbar .brand {
	background-image: url(../img/rd-logo-bianco@2x.png);
}

.contatti .navbar .brand,
.contacts .navbar .brand,
.blog .navbar .brand,
.category .navbar .brand,
.single-post .navbar .brand {
	background-image: url(../img/rd-logo-nero@2x.png);
}
}
